# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings (if using VS Code)
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# MyPy / Pylint / Bandit / other analysis tools
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Environment variables and credentials
.env

# Ignore the trained model as it exceeds githubs free size limit of 100.00 MB. Uploaded on google drive instead. 
query_classifier
https://drive.google.com/drive/folders/1LSG32NcmLa0Ap3XxwlAW_6NS9V_TqFv7?usp=sharing
